* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
li {
    list-style: none;
}
/*==== VARIABLES ===============*/
:root {
    --brand-color: #DBFF02;
    --dark-grey: #474747;
    --light-grey: #E9E9E9;
    --font-primary: 'EuropeExtendedC';
    --font-secondary: 'Exo 2';
}
/*==== COMMON =================*/
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: var(--font-primary), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--dark-grey);
}
.container {
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
    position: relative;
    z-index: 3
}
.flex {
    display: flex;
}
.center {
    align-items: center;
}
.just-btwn {
    justify-content: space-between;
}
.just-center {
    justify-content: center;
}
.column {
    flex-direction: column;
}
.text-colored {
    color: var(--brand-color);
}
.italic {
    font-style: italic !important;
}

/*ANIMATIONS*/
.animated {
    opacity: 0;
    transform: translateY(5rem);
    transition: .8s;
}
.fade-in {
    opacity: 1;
    transform: translateY(0);
}

/*==== HEADER ==================*/
.header {
    padding-top: 4rem;
}
.logo-img {
    display: block;
    width: 8.75rem;
}
.nav-wrapper {
    overflow: hidden;
}
.navigation {
    opacity: 0;
    transform: translateX(120%);
    transition: .3s;
}
.navigation.opened {
    opacity: 1;
    transform: translateX(0)
}
.navigation-item {
    font-style: normal;
    font-weight: 700;
    font-size: 24.1528px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-right: 1rem;
}
.menu-btn-img {
    display: block;
    width: 2rem;
    height: auto;
    cursor: pointer;
    transition: .3s;
}
.menu-btn-img.opened {
    transform: rotateZ(90deg);
}

/*==== HERO ==================*/
.hero-section {
    padding: 0 0 6rem 0;
}
.hero-heading-wrapper {
    text-align: center;
    margin-top: 12rem;
}
.main-heading {
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 86%;
    letter-spacing: 0.03em;
    color: var(--dark-grey);
    background: var(--light-grey);
    border-radius: 54.5158px;
    text-align: center;
    padding: 3.5rem 4rem;
    position: relative;
}
.heading-badge {
    font-weight: 700;
    font-size: 2.68rem;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-grey);
    transform: rotate(9.99deg);
    background-color: var(--brand-color);
    border-radius: 43.6126px;
    padding: 2rem 4rem;
    position: absolute;
    z-index: 3;
    right: -10%;
    top: -45%;
}
.hero-description-wrapper {
    margin: 9rem 0;
}
.descr-wrapper-part {
    font-weight: 700;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.descr-wrapper-part.right {
    text-align: right;
}
.action-banner {
    background: radial-gradient(100% 359.18% at 0% 0%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.2) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 24.1528px 48.3056px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(18.1146px);
    font-weight: 700;
    font-size: 72.4583px;
    line-height: 86%;
    letter-spacing: 0.03em;
    color: #DBFF02;
    text-align: center;
    padding: 2rem;
}
.acton-banner-arrow {
    width: 53px;
    height: auto;
    margin-left: 2rem;
}


/*==== CREDO =====================*/
.credo-section {
    padding: 8rem 0 5rem 0;
    background-color: var(--light-grey);
    position: relative;
    overflow: hidden
}
.credo-section .section-heading {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
    color: var(--dark-grey);
    font-style: normal;
    margin-bottom: 2rem;
}
.credo-section .section-text {
    font-weight: 400;
    font-size: 3rem;
    line-height: 1;
    color:var(--dark-grey);
    font-family: var(--font-secondary), sans-serif;
    margin-bottom: 2rem;
}
.credo-section .section-text.small {
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 1;
    color:var(--dark-grey);
    font-family: var(--font-secondary), sans-serif;
    font-style: normal;
    margin-bottom: 0;
}
.credo-section .decor-ellipse {
    position: absolute;
    left: -25.07%;
    right: 69.54%;
    top: 41.97%;
    bottom: -1.26%;
    background: #DBFF02;
    mix-blend-mode: normal;
    filter: blur(156.978px);
    transform: rotate(-11.53deg);
}

/*==== RUNNING STRING ==================*/
.running-string {
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 86%;
    letter-spacing: 0.03em;
    color: var(--dark-grey);
    background-color: var(--brand-color);
    padding: 2rem 0;
}

/*==== FEATURES =====================*/
.features-section {
    padding: 8rem 0;
    background-color: var(--dark-grey);
}
.features-list-heading {
    font-style: italic;
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 86%;
    letter-spacing: -0.04em;
    color: var(--brand-color);
    margin: 0 0 3rem -7.2rem;
}
.features-heading-arrow-wrapper {
    width: 5rem;
    min-width: 5rem;
    height: 5rem;
    background-color: var(--brand-color);
    border-radius: 50%;
    margin-right: 2.5rem;
}
.features-heading-arrow {
    width: 2.2rem;
    min-width: 2.2rem;
    height: auto;
}
.features-list {
    margin-bottom: 6rem;
}
.features-list-item {
    background: radial-gradient(100% 359.18% at 0% 0%, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.03) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border: 1.19039px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 23.8077px 47.6155px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(17.8558px);
    border-radius: 23.8077px;
    font-family: var(--font-secondary), sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.88rem;
    line-height: 86%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 2rem;
    padding: 1.8rem 2.5rem;
    list-style-position: inside;
}
.files-link-wrapper {
    position: relative;
    padding: 5rem 0 2rem;
}
.files-link {
    display: block;
    font-weight: 700;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    margin-left: 10%;
}
.files-link-wrapper .snowflake-decor {
    width: 14rem;
    height: 14rem;
    position: absolute;
    top: -1.5rem;
    left: -4.5rem;
}

/*==== FORM-SECTION ===================*/
.form-section {
    padding: 25rem 0 22rem 0;
    background: radial-gradient(100% 359.18% at 0% 0%, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.03) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border: 1.19039px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 23.8077px 47.6155px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(17.8558px);
}
.form-section p {
    font-weight: 700;
    font-size: 60.382px;
    line-height: 86%;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    text-align: center;
    margin-bottom: 9rem;
}
.form-section .btn {
    background: var(--brand-color);
    border-radius: 50.5296px;
    font-family: var(--font-primary), sans-serif;
    font-weight: 700;
    font-size: 60.382px;
    line-height: 86%;
    letter-spacing: 0.03em;
    color: #474747;
    border: none;
    height: 10rem;
    padding: 0 6rem;
    cursor: pointer;
}

/*==== TARGET ========================*/
.target-section {
    background-color: var(--light-grey);
    padding: 9rem 0 7.5rem 0;
    position: relative;
    overflow: hidden
}
.target-section .section-text {
    max-width: 989px;
    font-family: var(--font-secondary), sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 86%;
    letter-spacing: 0.03em;
    color: #4C4C4C;
}
.target-section .section-text.decorated {
    max-width: 1025px;
    background: radial-gradient(100% 359.18% at 0% 0%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.2) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 24.1528px 48.3056px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(18.1146px);
    border-radius: 24.1528px;
    margin-top: 8rem;
    padding: 2rem;
    transform: translateX(14rem)
}
.target-section .snowflake-decor {
    position: absolute;
    width: 65rem;
    height: auto;
    top: 0;
    left: -20%;
}

/*==== SPEAKER ==========================*/
.speaker-section {
    background-color: var(--dark-grey);
    overflow: hidden
}
.section-content-part.image {
    position: relative;
}
.speaker-img {
    position: relative;
    z-index: 3;
    left: 0;
    bottom: -3px;
    width: 56rem;
    height: auto;
}
.section-content-part.image .decor-ellipse {
    position: absolute;
    left: 0;
    right: 30%;
    top: 30%;
    bottom: 0;
    background: var(--brand-color);
    mix-blend-mode: normal;
    filter: blur(156.978px);
    transform: rotate(-11.53deg);
}
.section-content-part.text {
    padding-top: 10rem;
}
.speaker-name {
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 86%;
    letter-spacing: 0.03em;
    margin-bottom: 4rem;
}
.section-content-part.text .section-text {
    max-width: 798px;
    color: #fff;
    font-size: 3rem;
    font-weight: 400;
    font-family: var(--font-secondary), sans-serif;
    margin-bottom: 3.2rem;
}



/*==== MEDIA QUERIES ==============*/
@media (max-width: 1600px) {
    
}

@media (max-width: 1200px) {
    
}

@media (max-width: 992px) {
    
}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
    
}