* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
li {
    list-style: none;
}
/*==== VARIABLES ===============*/
:root {
    --brand-color: #DBFF02;
    --dark-grey: #474747;
    --light-grey: #E9E9E9;
    --font-primary: 'EuropeExtendedC';
    --font-secondary: 'Exo 2';
    --duration: 30s;
}
/*==== COMMON =================*/
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: var(--font-primary), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--dark-grey);
}
.container {
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
    position: relative;
    z-index: 3
}
.flex {
    display: flex;
}
.center {
    align-items: center;
}
.just-btwn {
    justify-content: space-between;
}
.just-center {
    justify-content: center;
}
.just-end {
    justify-content: flex-end;
}
.column {
    flex-direction: column;
}
.text-colored {
    color: var(--brand-color);
}
.italic {
    font-style: italic !important;
}

/*ANIMATIONS*/
.animated {
    opacity: 0;
    transform: translateY(5rem);
    transition: .8s;
}
.fade-in {
    opacity: 1;
    transform: translateY(0);
}

/*==== HEADER ==================*/
.header {
    padding-top: 2rem;
}
.logo-img {
    display: block;
    width: 7rem;
    height: auto;
    -webkit-filter: drop-shadow(0 0 5px var(--brand-color));
    filter: drop-shadow(0 0 5px var(--brand-color));
}
.nav-wrapper {
    overflow: hidden;
}
.navigation {
    opacity: 0;
    transform: translateX(120%);
    transition: .5s;
}
.navigation.opened {
    opacity: 1;
    transform: translateX(0)
}
.navigation-item {
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-right: 1rem;
    text-transform: uppercase;
}
.navigation-mobile {
    display: none;
}
.menu-btn-img {
    display: block;
    width: 2rem;
    height: auto;
    cursor: pointer;
    transition: .5s;
}
.menu-btn-img.opened {
    transform: rotateZ(90deg);
}

/*==== HERO ==================*/
.hero-section {
    padding: 14rem 0 6rem 0;
}
.hero-heading-wrapper {
    text-align: center;
}
.main-heading {
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 86%;
    letter-spacing: 0.03em;
    color: var(--dark-grey);
    background: var(--light-grey);
    border-radius: 30px;
    text-align: center;
    padding: 3.5rem 4rem;
    position: relative;
}
.heading-badge {
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-grey);
    transform: rotate(9.99deg);
    background-color: var(--brand-color);
    border-radius: 20px;
    padding: 1.2rem 4rem;
    position: absolute;
    z-index: 3;
    right: -10%;
    top: -25%;
}
.hero-description-wrapper {
    margin: 12rem 0 9rem 0;
}
.descr-wrapper-part {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.descr-wrapper-part.right {
    text-align: right;
}
.action-banner {
    background: radial-gradient(100% 359.18% at 0% 0%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.2) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 24.1528px 48.3056px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(18.1146px);
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 86%;
    letter-spacing: 0.03em;
    color: #DBFF02;
    text-align: center;
    padding: 2rem;
    cursor: pointer;
}
.acton-banner-arrow {
    width: 2.3rem;
    height: auto;
    margin-left: 1.4rem;
}


/*==== CREDO =====================*/
.credo-section {
    padding: 8rem 0 5rem 0;
    background-color: var(--light-grey);
    position: relative;
    overflow: hidden
}
.credo-section .section-heading {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1;
    color: var(--dark-grey);
    font-style: normal;
    margin-bottom: 2rem;
}
.credo-section .section-text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1;
    color:var(--dark-grey);
    font-family: var(--font-secondary), sans-serif;
    margin-bottom: 2rem;
}
.credo-section .section-text.small {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1;
    color:var(--dark-grey);
    font-family: var(--font-secondary), sans-serif;
    font-style: normal;
    margin-bottom: 0;
}
.credo-section .decor-ellipse {
    position: absolute;
    left: -25.07%;
    right: 69.54%;
    top: 41.97%;
    bottom: -1.26%;
    background: #DBFF02;
    mix-blend-mode: normal;
    filter: blur(156.978px);
    transform: rotate(-11.53deg);
}

/*==== RUNNING STRING ==================*/
.running-string {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 86%;
    letter-spacing: 0.03em;
    color: var(--dark-grey);
    background-color: var(--brand-color);
    padding: 2rem 0;
}

/*==== FEATURES =====================*/
.features-section {
    padding: 8rem 0;
    background-color: var(--dark-grey);
}
.features-list-heading {
    font-style: italic;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 86%;
    letter-spacing: -0.04em;
    color: var(--brand-color);
    margin: 0 0 3rem -6rem;
}
.features-heading-arrow-wrapper {
    width: 4rem;
    min-width: 4rem;
    height: 4rem;
    background-color: var(--brand-color);
    border-radius: 50%;
    margin-right: 2rem;
}
.features-heading-arrow {
    width: 1.8rem;
    min-width: 1.8rem;
    height: auto;
}
.features-list {
    margin-bottom: 6rem;
}
.features-list-item {
    background: radial-gradient(100% 359.18% at 0% 0%, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.03) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border: 1.19039px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 23.8077px 47.6155px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(17.8558px);
    border-radius: 18px;
    font-family: var(--font-secondary), sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 86%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 2rem;
    padding: 1.8rem 2.5rem;
    list-style-position: inside;
}
.files-link-wrapper {
    position: relative;
    padding: 5rem 0 2rem;
}
.files-link {
    display: block;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    margin-left: 10%;
}
.files-link-wrapper .snowflake-decor {
    width: 14rem;
    height: 14rem;
    position: absolute;
    top: -1.5rem;
    left: -4.5rem;
}

/*==== FORM-SECTION ===================*/
.form-section {
    padding: 5rem 0;
    background: radial-gradient(100% 359.18% at 0% 0%, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.03) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border: 1.19039px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 23.8077px 47.6155px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(17.8558px);
}
.form-body {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 2rem;
    background: radial-gradient(100% 359.18% at 0% 0%, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.03) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border: 1.19039px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 23.8077px 47.6155px rgb(0 0 0 / 5%);
    backdrop-filter: blur(17.8558px);
    position: relative;
}
.form-body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8) url('../img/loading.gif') no-repeat center 50% / 20%;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
}
.form-body.sending::after {
    opacity: 1;
    visibility: visible;
}
.form-heading {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 86%;
    letter-spacing: -0.04em;
    color: var(--brand-color);
    text-align: center;
    margin-bottom: 3rem;
}
.form-label {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    margin-bottom: .5rem;
    font-family: var(--font-secondary), sans-serif;
}
.form-item {
    margin: 1.5rem 0;
}
.form-input {
    display: block;
    height: 4rem;
    width: 100%;
    padding: 1% 1% 1% 1.5rem;
    border-radius: 10px;
    font-family: var(--font-secondary), sans-serif;
    outline: none;
    font-size: 20px;
    border: none;
    color: #333;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 2.5rem;
    background-position: 98% 50%;
}
.form-input.name {
    background-image: url('../img/insta-for-bg.png');
}
.form-input.email {
    background-image: url('../img/email-for-bg.png');
}
.form-input:focus {
    border: 2px solid rgb(136, 221, 249);
    background-color: #fff !important;
}
.form-input.valid {
    background-color: rgb(190, 247, 219);
}
.form-input.error {
    background-color: rgb(247, 190, 190);
}
.form-section .btn,
.speaker-section .btn {
    min-height: 5rem;
    width: 100%;
    background: var(--brand-color);
    border-radius: 10px;
    font-family: var(--font-primary), sans-serif;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 0.03em;
    color: #474747;
    border: none;
    padding: 0;
    cursor: pointer;
    margin: 2rem 0;
}
.message-success {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 86%;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    text-align: center;
    display: none;
}
.message-error {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 86%;
    letter-spacing: 0.03em;
    color: rgb(249, 127, 127);
    text-align: center;
    display: none;
}
.message-fill {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 86%;
    letter-spacing: 0.03em;
    color: #FAAF0F;
    text-align: center;
    display: none;
}
.message-success.visible,
.message-error.visible,
.message-fill.visible {
    display: block;
}

/*==== TARGET ========================*/
.target-section {
    background-color: var(--light-grey);
    padding: 9rem 0 7.5rem 0;
    position: relative;
    overflow: hidden
}
.target-section .section-text {
    max-width: 860px;
    font-family: var(--font-secondary), sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 86%;
    letter-spacing: 0.03em;
    color: #4C4C4C;
}
.target-section .section-text.decorated {
    max-width: 860px;
    background: radial-gradient(100% 359.18% at 0% 0%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.2) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 24.1528px 48.3056px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(18.1146px);
    border-radius: 24px;
    margin-top: 8rem;
    padding: 2rem;
    transform: translateX(14rem)
}
.target-section .snowflake-decor {
    position: absolute;
    width: 65rem;
    height: auto;
    top: 0;
    left: -20%;
}

/*==== SPEAKER ==========================*/
.speaker-section {
    background-color: var(--dark-grey);
    position: relative;
    overflow: hidden;
}
.speaker-section .decor-ellipse {
    position: absolute;
    left: 0;
    right: 70%;
    top: 50%;
    bottom: 0;
    background: var(--brand-color);
    mix-blend-mode: normal;
    filter: blur(156.978px);
    transform: rotate(-11.53deg);
}
.speaker-text-container {
    width: 60%;
    padding: 5rem 3rem 5rem 0;
}
.speaker-name {
    font-weight: 700;
    font-size: 3rem;
    line-height: 86%;
    letter-spacing: 0.03em;
    margin-bottom: 3rem;
}
.speaker-section .section-text {
    width: 90%;
    max-width: 798px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: var(--font-secondary), sans-serif;
    margin-bottom: 3rem;
}
.social-link {
    display: inline-block;
}
.social-link-img {
    width: 2.4rem;
    height: auto;
    margin-left: 1rem;
}
.speaker-section .btn {
    max-width: 720px;
    padding: 0 1rem;
}
.speaker-img-container {
    width: 40%;
    max-height: 100%;
    height: 56.5rem;
    position: relative;
    overflow: hidden;
}
.speaker-img {
    min-height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-55%)
}
.copyright {
    font-size: 12px;
    color: #fff;
    font-family: var(--font-secondary), sans-serif;
}


/*==== MEDIA QUERIES ==============*/
@media (max-width: 1600px) {
    .container {
        max-width: 1090px;
    }
    .header {
        padding-top: 2rem;
    }
    .logo-img {
        width: 5rem;
    }
    .navigation-item {
        font-size: 1rem;
    }
    .menu-btn-img {
        width: 1.8rem;
    }
    .main-heading {
        font-size: 3.5rem;
        border-radius: 20px;
    }
    .heading-badge {
        font-size: 1.8rem;
        padding: 1rem 2.5rem;
        right: -7%;
        top: -25%;
        border-radius: 16px;
    }
    .descr-wrapper-part {
        font-size: 1.2rem;
    }
    .action-banner {
        font-size: 3rem;
    }
    .acton-banner-arrow {
        width: 2.1rem;
    }
    .credo-section {
        padding: 6rem 0 5rem 0;
    }
    .credo-section .section-heading {
        font-size: 2.2rem;
    }
    .credo-section .section-text {
        margin-bottom: 1.8rem;
    }
    .running-string {
        font-size: 2.2rem;
    }
    .features-section {
        padding: 6rem 0;
    }
    .features-list-item {
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
    }
    .files-link {
        font-size: 1.6rem;
    }
    .files-link-wrapper .snowflake-decor {
        width: 11rem;
        height: 11rem;
        top: -1rem;
        left: -3rem;
    }
    .target-section {
        padding: 6rem 0 6rem 0;
    }
    .target-section .section-text {
        max-width: 820px;
    }
    .target-section .section-text.decorated {
        max-width: 820px;
        border-radius: 16px;
        margin-top: 6rem;
    }
    .section-content-part.text {
        padding-top: 7rem;
    }
    .speaker-name {
        font-size: 2.8rem;
        margin-bottom: 2.2rem;
    }
    .speaker-section .section-text {
        font-size: 1.6rem;
        margin-bottom: 2.2rem;
    }
    .speaker-section .btn {
        font-size: 1.8rem;
    }
    .speaker-img-container {
        height: 52rem;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .header {
        padding-top: 1.5rem;
    }
    .logo-img {
        width: 4rem;
    }
    .navigation-item {
        font-size: .8rem;
    }
    .hero-section {
        padding: 9rem 0 3rem 0;
    }
    .main-heading {
        font-size: 3rem;
        padding: 2.5rem 3rem;
    }
    .heading-badge {
        font-size: 1.6rem;
        padding: 1rem 3rem;
        right: -12%;
        top: -30%;
    }
    .hero-description-wrapper {
        margin: 10rem 0 6rem 0;
    }
    .descr-wrapper-part {
        font-size: 1.1rem;
    }
    .action-banner {
        font-size: 2.5rem;
        padding: 1.5rem;
    }
    .acton-banner-arrow {
        width: 1.9rem;
    }
    .credo-section {
        padding: 4rem 0 4rem 0;
    }
    .credo-section .section-heading {
        font-size: 2rem;
    }
    .credo-section .section-text {
        font-size: 1.4rem;
        margin-bottom: 1.4rem;
    }
    .credo-section .section-text.small {
        font-size: 1.1rem;
    }
    .running-string {
        font-size: 2rem;
        padding: 1.25rem;
    }
    .features-section {
        padding: 5rem 0;
    }
    .features-section .container {
        max-width: 840px;
    }
    .features-list-heading {
        font-size: 2rem;
        margin: 0 0 2rem -4.7rem;
        line-height: 1.1;
    }
    .features-heading-arrow-wrapper {
        width: 3.2rem;
        min-width: 3.2rem;
        height: 3.2rem;
        margin-right: 1.5rem;
    }
    .features-heading-arrow {
        width: 1.6rem;
        min-width: 1.6rem;
    }
    .features-list-item {
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
        padding: 1.4rem 2.5rem;
    }
    .files-link-wrapper {
        padding: 3.2rem 0 1.5rem;
    }
    .files-link-wrapper .snowflake-decor {
        width: 11rem;
        height: 11rem;
        position: absolute;
        top: -2.2rem;
        left: -2.5rem;
    }
    .files-link {
        font-size: 1.2rem;
    }
    .target-section .section-text {
        max-width: 760px;
        font-size: 1.5rem;
    }
    .target-section .snowflake-decor {
        width: 70%;
    }
    .target-section .section-text.decorated {
        max-width: 760px;
        border-radius: 18px;
        margin-top: 5rem;
        transform: translateX(10rem);
    }
    .speaker-section {
        background-color: var(--dark-grey);
        background-repeat: no-repeat;
        background-position: 0 100%;
        background-size: 50%;
    }
    .speaker-section .container {
        width: 100%;
    }
    .speaker-text-container {
        width: 60%;
        padding: 4rem 1.2rem 4rem 2rem;
    }
    .speaker-section .section-text {
        text-shadow: 0 3px 6px #111;
    }
    .speaker-section .decor-ellipse {
        left: 0;
        right: 50%;
        top: 50%;
    }
    .speaker-img-container {
        height: 50rem;
    }
}

@media (max-width: 992px) {
    .heading-badge {
        font-size: 1.2rem;
        padding: .8rem 2.5rem;
        right: -2%;
        top: -20%;
    }
    .features-list-item {
        margin-left: 3.5rem;
    }
    .features-list-heading {
        font-size: 1.8rem;
        margin: 0 0 2rem -1.2rem;
    }
    .files-link-wrapper {
        padding: 2rem 0 1.5rem;
    }
    .files-link-wrapper .snowflake-decor {
        width: 8rem;
        height: 8rem;
        top: -2.2rem;
        left: -1rem;
    }
    .files-link {
        font-size: 1.1rem;
        margin-left: 16%;
    }
    .target-section .section-text.decorated {
        margin-top: 4rem;
        transform: translateX(0);
    }
    .section-content-part.image {
        width: 40%;
    }
    .section-content-part.text {
        width: 60%;
        padding-top: 3rem;
    }
    .speaker-section {
        background-size: 60%;
    }
    .speaker-name {
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }
    .form-section .btn, .speaker-section .btn {
        font-size: 1.5rem;
        margin: 1.2rem 0;
    }
    .speaker-img-container {
        height: 52rem;
    }
}

@media (max-width: 768px) {
    .logo-img {
        width: 3.4rem;
    }
    .menu-btn-img {
        width: 1.6rem;
    }
    .action-banner {
        font-size: 2.1rem;
    }
    .acton-banner-arrow {
        width: 1.5rem;
        margin-left: 1rem;
    }
    .features-list-item {
        margin-left: 0;
    }
    .features-list-heading {
        margin: 0 0 2rem 0;
    }
    .speaker-text-container {
        width: 55%;
        padding: 3rem 1.2rem 3rem 2rem;
    }
    .speaker-img-container {
        width: 55%;
        height: 58rem;
    }
}

@media (max-width: 576px) {
    .nav-wrapper {
        flex-direction: column-reverse;
        align-items: flex-end;
        position: relative;
        overflow-y: visible
    }
    .navigation {
        display: none;
    }
    .navigation.opened {
        display: none;
    }
    .navigation-mobile {
        display: flex;
        /* flex-direction: column; */
        align-items: flex-end;
        width: auto;
        height: auto;
        padding: 2rem 0 0;
        position: absolute;
        top: 80%;
        right: -100%;
        z-index: 7;
        opacity: 0;
        transition: .5s;
    }
    .navigation-mobile.opened {
        right: 0;
        opacity: 1;
    }
    .navigation-mobile .navigation-item {
        display: block;
        margin: 0 0 0 2rem;
        font-size: .75rem;
    }
    .hero-section {
        padding: 7rem 0 3rem 0;
    }
    .main-heading {
        width: 100%;
        font-size: 2.1rem;
        border-radius: 16px;
        padding: 1.5rem 1.5rem;
    }
    .heading-badge {
        font-size: 1rem;
        padding: 0.5rem 2rem;
        right: -5%;
        top: -31%;
        border-radius: 10px;
    }
    .hero-description-wrapper {
        margin: 6rem 0 4rem 0;
    }
    .descr-wrapper-part {
        font-size: .85rem;
        line-height: 130%;
    }
    .action-banner {
        font-size: 1.5rem;
    }
    .acton-banner-arrow {
        width: 1.1rem;
        margin-left: .8rem;
    }
    .credo-section .section-heading {
        font-size: 1.4rem;
    }
    .credo-section .section-text {
        font-size: 1.1rem;
        margin-bottom: 1.1rem;
    }
    .credo-section .section-text.small {
        font-size: 1rem;
    }
    .running-string {
        font-size: 1.5rem;
        padding: 1rem;
    }
    .features-list-heading {
        font-size: 1.4rem;
        margin: 0 0 1.2rem 0;
    }
    .features-list-item {
        font-size: 1.1rem;
        margin-bottom: 1rem;
        padding: 1rem 2rem;
        line-height: 1.5;
    }
    .files-link-wrapper .snowflake-decor {
        width: 4rem;
        height: 4rem;
        top: 0rem;
        left: -1rem;
    }
    .files-link-wrapper {
        padding: 1rem 0 0;
    }
    .files-link {
        font-size: 1rem;
        margin-left: 19%;
    }
    .form-section {
        padding: 4rem 0;
    }
    .form-body {
        padding: 2rem 1rem;
    }
    .form-heading {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .form-input {
        height: 2.8rem;
        font-size: 18px;
        border-radius: 8px;
        background-size: 1.8rem;
        padding: 1% 1% 1% 1rem;
    }
    .form-section .btn {
        width: 100%;
        border-radius: 10px;
        font-size: 1.2rem;
        height: 3rem;
        padding: 0 1rem;
    }
    .target-section {
        padding: 4rem 0 4rem 0;
    }
    .speaker-section {
        background-size: 80%;
    }
    .speaker-section .container {
        flex-direction: column-reverse;
    }
    .speaker-img-container {
        width: 100%;
        height: 24rem;
    }
    .speaker-img {
        min-height: 100%;
        width: auto;
        position: absolute;
        top: -16%;
        left: 50%;
        transform: translateX(-55%);
    }
    .speaker-text-container {
        width: 100%;
        padding: 2rem 1.5rem 3rem 1.5rem;
    }
    .speaker-name {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    .social-link-img {
        width: 2rem;
        height: auto;
        margin-left: 1rem;
    }
    .speaker-section .section-text {
        width: 100%;
        font-size: 1.1rem;
        margin-bottom: 1.5rem;
    }
    .speaker-section .btn {
        font-size: 1.2rem;
    }
    .speaker-section .decor-ellipse {
        left: 0;
        right: 40%;
        top: 40%;
    }
}
